[Unit]
Description = Lily server

[Service]
ExecStart = /var/www/lupinus/start.sh
Restart = always
Type = simple
WorkingDirectory=/var/www/lupinus

[Install]
WantedBy = multi-user.target
